<p>Hi I'm Jonathon ( but you can call me Johnny ). I am a Web Developer based in Dublin.</p>
<p>I have a higher diploma in <em>Software Development</em>, graduating in 2017 awarded by Dublin Business School.
  I also have a degree in Analytical Science, graduating in 2014 from Dublin City University.</p>
<p>
  I love web development, photography and making music!
</p>