<div class="img-thumbnail">
  <h3 class="text-nowrap">Comptine D'un Autre Été</h3>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe id="sc-player" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146506412&amp;color=%23060806&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true">
    </iframe>
  </div>
  <div class="caption">
    <p class="text-center">
      Originally written by Yann Tiersen for the film Amélie (2001), Comptine D'un Autre Été remains to this day,
      an extremely popular piece. It's minimalist style has made this piece a popular choice to learn on the piano
      and a pleasant one to listen to. My soundcloud track alone has over a
      <strong>quarter of a million listens.</strong>
    </p>
    <p class="text-center">
      I have also created
      a <%= link_to 'synthesia version of this piece', 'https://www.youtube.com/watch?v=5nExi3cezKg', target: '_blank' %>
    </p>
  </div>
</div>