<div class="img-thumbnail">
  <h3 class="text-nowrap">One Summer's Day</h3>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/143434036&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
  </div>
  <div class="caption">
    <p class="text-center">
      Composed by the great Joe Hisaishi, this piece was written for the 2001 anime film "Spirited Away"
    </p>
  </div>
</div>