<div class="text-center iframe-position">
  <div class="img-thumbnail">
    <h3 class="text-nowrap">Your Song</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="1199" height="529" src="https://www.youtube.com/embed/_pFmyxkRgWE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="caption">
      <p class="text-center">
        Originally written by Elton John, this version is a cover of a cover by Ellie Goulding. An interesting take on the timeless classic, this version was used in the John Lewis ad in 2010
      </p>
    </div>
  </div>
</div>