<%= render 'layouts/navbar'%>
<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">Jonathon Yamada</h1>
          <h2 class="intro-text">Web Developer by day</h2>
          <p>Musician &amp; Photographer by night</p>
          <a href="#about" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Me</h2>
        <p>Hi I'm Jonathon (but you can call me Johnny). I am a Web Developer based in Dublin.</p>
        <p>I develop using<span class="ruby-color"> Ruby on Rails </span>and <span class="reactjs-color">ReactJS</span></p>
        <p>I have a higher diploma in Software Development, graduating in 2017 awarded by Dublin Business School.
          I also have a degree in Analytical Science, graduating in 2014 from Dublin City University.</p>
        <p>
          I love web development, photography and making music!
        </p>
        <a href="#development" class="btn btn-circle js-scroll-trigger">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Web Dev Section -->
<section id="development" class="hobby-section content-section text-center coding-background">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Web Development</h2>
      <p>I like <span class="ruby-color">Ruby</span> and <span class="javascript-color">JavaScript.</span></p>
      <%= link_to 'Tell me more', development_path, class: "btn btn-default btn-lg" %>
    </div>
    <a href="#music" class="btn btn-circle js-scroll-trigger">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
</section>

<!-- Music Section -->
<section id="music" class="hobby-section content-section text-center music-background">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Music</h2>
      <p>I like playing the piano.</p>
      <a href="https://www.youtube.com/watch?v=ql5sYzq7xds" target="_blank" class="btn btn-default btn-lg">My YouTube</a>
      <a href="https://soundcloud.com/yamadaj2/comptine-dune-autre-ete" target="_blank" class="btn btn-default btn-lg">My Soundcloud</a>
    </div>
    <a href="#photography" class="btn btn-circle js-scroll-trigger">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
</section>

<!-- Photography Section -->
<section id="photography" class="hobby-section content-section text-center photography-background">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Photography</h2>
      <p>I like taking photos</p>
      <a href="https://github.com/yamadaj2" target="_blank" class="btn btn-default btn-lg">My Photos</a>
    </div>
    <a href="#contact" class="btn btn-circle js-scroll-trigger">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact Jonathon</h2>
        <p>Feel free to leave us a comment on the
          <a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale template overview page</a>
          on Start Bootstrap to give some feedback about this theme!</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
              <i class="fa fa-google-plus fa-fw"></i>
              <span class="network-name">Google+</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a href="#page-top" class="btn js-scroll-trigger">
      <i class="fa fa-arrow-circle-o-up animated fa-2x">Back to Top</i>
    </a>
  </div>
</section>

<!-- Map Section -->
<div id="map"></div>
<%= render 'layouts/footer'%>