// Variables

$primary: #42DDF4;
$ruby-color: #cc0000;
$javascript-color: #f7df1e;
$reactjs-logo: #00d8ff;
$black-text-shadow:
        -0.7px -0.7px 0 #000,
        0.7px -0.7px 0 #000,
        -0.7px 0.7px 0 #000,
        0.7px 0.7px 0 #000;

$white-text-shadow:
        -0.3px -0.3px 0 #ffffff,
        0.3px -0.3px 0 #ffffff,
        -0.3px 0.3px 0 #ffffff,
        0.3px 0.3px 0 #ffffff;